[core]
	excludesfile = ~/.global_gitignore
	editor = vim
	autocrlf = input
	symlinks = false

{{- if eq .chezmoi.username "ThomasWa" }}
[user]
	name = Tom Wardill
	email = thomaswa@payoneer.com
	signingkey = sk-ssh-ed25519@openssh.com AAAAGnNrLXNzaC1lZDI1NTE5QG9wZW5zc2guY29tAAAAIPppItVZXcL1CE2PFnHJy2Wmh71nzB1GMDdGMv/66RaOAAAABHNzaDo= ThomasWa@presentation-MacBook-Pro
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = /home/ThomasWa/.ssh/allowed_signers
{{ else }}

[user]
	name = Tom Wardill
	email = tom@howrandom.net
[github]
	user = tomwardill

{{ end -}}

[alias]
	st = status
        lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	unpushed = log origin/master..HEAD
[diff]
	tool = diffmerge
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = diffmerge
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rerere]
    enabled = 1
[protocol]
	version = 2
